/* Styling for webpage body */
body {
	padding: 20px 10px; /*CSS padding properties are used to generate space around content.*/
	font-family: Helvetica;
	max-width: 1500px;
	margin: 0 auto; /* The 0 refers to the top and bottom margins and the "auto" automatically */
	
}


/* Styling for Title Headings */
h1 {
  text-align: center;
  color: #294860;
}
h2 {
  text-align: left;
  color: #294860;
}

.TOC {
  display: flex;
  background-color: #c8cbcc;
  font-family: "Palatino Linotype";
  max-width: 2000px;
  width: 90%;
  border-style: solid;
  border-width: medium;
  border-radius: 12px;
  border-color: #66cdaa;
  padding: 15px;
  margin: 35px;
}



.session {
  background-color: #66cdaa;
  font-family: "Palatino Linotype";
  border-radius: 50px;
  color: #e9fffb;
  padding: 10px;
  margin: 10px auto;
}

.concept {
  background-color: #c8cbcc;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  color: #142030;
}

.concept-title {
  margin: 5px;
  color: #6f6d6d;
  font-family: Tahoma;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.concept-description {
  margin: 5px;
  padding: 5px;
  color: #142030; 
  font-family: Tahoma;
  text-align: left;
  border: 8px dotted #3b5998; /* http://www.color-hex.com/*/
  border-top-left-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
}
/* Styling for session notes */

img {
  padding: 10px 5px;
  max-width: 2000px;
  width: 95%;
  margin: 0 auto;
}
/*p is paragraph*/
p {
  margin: 10px 0;
}

ul {
  list-style-type: circle;
}

.ReferTOC {
  text-align: right;
}
/* change form of link text */
a:link {
  text-decoration: none;
}

a:visited {
  color: #294860;
  font-weight: bold;
  text-decoration: none;
}

/* This is the CSS styling for span in-line elements */
